/static
/tnp_env
/tnp_virtual_env
/management/static
/tnp/static
/node_modules
*.sqlite3
db.sqlite3
/db.sqlite3

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

/.idea
/venv
/venv2
*.pyc
*.pem
**/migrations
**/static
**/__pycache__
/CloudPractice/private_info.py
*.zip
/static
/CloudPractice/static

