{% load static%}    
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TNP Portal</title>
<meta name="description" content="TNP NSIT Portal for students. See Company. Register For Company.">
    <meta name="keywords" content="TNP NSIT tnp nsit portal placement yash Yash kulshreshtha">
<meta property="og:url" content="http://www.yash99.me/" />
<meta property="og:site_name" content="TNP NSIT Portal" />
<meta property="article:author" content="https://www.facebook.com/yksmbkkr" />
<meta property="article:tag" content="TNP" />
<meta property="article:tag" content="NSIT" />
<meta property="article:tag" content="Portal" />
<meta property="article:tag" content="youth" />
<meta property="article:tag" content="Delhi" />
<!--This is creation of Ankit Aggarwal and Yash Kulshreshtha
    Complete Backend and Student Area Frontend developed by Yash Kulshreshtha https://facebook.com/yksmbkkr
    Management Area Frontend developed by Ankit Aggarwal https://facebook.com/Ankit6899
    -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384- BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="{%static 'Css/HomePage.css'%}">
<link rel="stylesheet" href="{%static 'Css/PageHeader.css'%}">

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/datatables.min.css"/>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <script>
  $(function() {
    $( "#id_closing_date" ).datepicker();
  });
  </script>


