{%extends 'skeleton.html'%}

{%block body%}
<div class="bootstrap-iso">
         <div class="container-fluid">
          <div class="row">
           <div class="col-md-6 col-sm-6 col-xs-12">
{%if messages%}
{%for message in messages%}
{{message}}
{%endfor%}
{%endif%}
               <h3 class="title">Modify User - {{rollno}}</h3>
<form class="form-horizontal" method="post" action=""> 
    {%if form%}
        {%for field in form%}
            <div class="form-group ">
              <label class="control-label col-sm-2" for="{{ field.id_for_label }}">
               {{field.label}}
              </label>
              <div class="col-sm-10">
               {{field}}
                  <p class="form-text" style="color:red !important;" autofocus>{{field.errors}}</p>
              </div>

             </div>
        {%endfor%}
    {%endif%}

    {% csrf_token %}
            <div class="btn-group submit-btn" role="group" aria-label="...">
                <button type="submit" class="btn btn-default">Save Changes</button>
            </div>
        
    </form>

        </div>
              </div>
             </div>
    </div>
{%endblock%}
