{%extends 'skeleton.html'%}

{%block body%}
<div class="bootstrap-iso">
            <div class="container-fluid">
                
                      {%if form.errors%}
{%for field in form%}
<ul>
    {%for error in field.errors%}
    <li>{{field.name}} : {{error}}</li>
    {%endfor%}
</ul> 
{%endfor%}
{%endif%}
{%if messages%}
                <ul>
{%for message in messages%}
                    <li >{{message}}</li>
{%endfor%}
                    </ul>
{%endif%}
                
              <div class="row">
<div class="col-md-6 col-sm-6 col-xs-12">
<form method="post" id="place_form" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group ">
                  <label class="control-label col-sm-2" for="Company">
                   Select Company
                  </label>
                  <div class="col-sm-10">
                   {{form.cmpn}}
                  </div>
                 </div>
    <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-2">
                   <button class="btn btn-primary btn-block " name="submit" type="submit">
                    Submit
                   </button>
                  </div>
                 </div>
</form>
    </div>

                  </div>
                </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  
{%endblock%}