
{%extends 'skeleton.html'%}

{%block head%}
{%include 'head.html'%}
{%include 'search_company_head.html'%} 
<style>
.hard_left {
  position:absolute;
  *position: relative; /*ie7*/
  left:10px; 
  width:150px;
  background-color:#f9fafc !important;
}
.next_left {
  position:absolute;
  *position: relative; /*ie7*/
  left:150px; 
  width:150px;
  background-color:#f9fafc !important;
}
.inner {
  overflow-x:scroll;
  overflow-y:visible;
  width:auto; 
  margin-left:285px;
}
</style>
{%endblock%}


{%block body%}

<div class="bootstrap-iso">
         <div class="container-fluid">
          <div class="row">
           <div class="col-md-6 col-sm-6 col-xs-12">
               {%if form.errors%}
{%for field in form%}
<ul>
    {%for error in field.errors%}
    <li>{{field.name}} : {{error}}</li>
    {%endfor%}
</ul>
{%endfor%}
{%endif%}
            <form class="form-horizontal" method="post">
             <div class="form-group ">
              <label class="control-label col-sm-2" for="i_slug">
               Search For
              </label>
              <div class="col-sm-10">
               {{form.slug}}
              </div>
             </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <p>Leave this field empty to get whole list with or without filters.</p>
                    </div>
                </div>
             <div class="form-group ">
              <label class="control-label col-sm-2" for="id_field_type">
               Placement Filter
              </label>
              <div class="col-sm-10">
               {{form.place}}
              </div>
             </div>
                <div class="form-group ">
              <label class="control-label col-sm-2" for="id_field_type">
               Branch Filter
              </label>
              <div class="col-sm-10">
               {{form.branch}}
              </div>
             </div>
                 <div class="form-group ">
              <label class="control-label col-sm-2" for="id_field_type">
               Batch Filter
              </label>
              <div class="col-sm-10">
               {{form.batch}}
              </div>
             </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <p>Leave filter field empty for the filters which you don't wish to apply</p>
                    </div>
                </div>
                 <input id="prodId" name="prodId" type="hidden" value="xm234jq">
                {%csrf_token%}
             <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
               <button class="btn btn-default btn-block" name="submit" type="submit">
                Submit
               </button>
              </div>
             </div>
            </form>
               
                   {%if messages%}
               
{%for message in messages%}
<h3 class="title">{{message}}</h3>
{%endfor%}

{%endif%}
               
           </div>
          
             {%if clist%}
            
                <div class="col-md-10 ml-2">
                    

<div>
            <h3 class="title">{{smsg}}</h3>
            <div class="inner"><table id="query-table" class="table table-bordered" style="display: block !important; overflow-x: auto !important; white-space: nowrap !important; ">
                <thead>
                    <tr>
                        <th scope="col" class="hard_left">Name</th>
                        <th scope="col" class="next_left">Roll No</th>
                        <th scope="col">Batch</th>
                        <th scope="col">Branch</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Alternate Mobile</th>
                        <th scope="col">CGPA</th>
                        <th scope="col">CGPA with drop</th>
                        <th scope="col">Sem 1</th>
                        <th scope="col">Sem 2</th>
                        <th scope="col">Sem 3</th>
                        <th scope="col">Sem 4</th>
                        <th scope="col">Sem 5</th>
                        <th scope="col">Sem 6</th>
                        <th scope="col">Backlogs</th>
                        <th scope="col">12th marks</th>
                         <th scope="col">12th passing year</th>
                         <th scope="col">10th marks</th>
                        <th scope="col">10th passing year</th>
                        <th scope="col">Company of Internship</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Category</th>
                        <th scope="col">Father's Name</th>
                         <th scope="col">Father's Occupation</th>
                         <th scope="col">Mother's Name</th>
                        <th scope="col">Mother's Occupation</th>
                        <th scope="col">Present Address</th>
                        <th scope="col">Permanent Address</th>
                        <th scope="col">Dream</th>
                        <th scope="col">A++</th>
                        <th scope="col">A+</th>
                        <th scope="col">A</th>
                    </tr>
                </thead>
                <tbody>
                    {%for c in clist%}
                    <tr>
                        <th scope="row" class="hard_left"><a href="{%url 'management:modify_user' c.p.user.id%}">{{c.p.f_name}}&nbsp;{{c.l_name}}</a></th>
                        <td class="next_left">{{c.p.roll_no}}</td>
                        <td >{{c.p.batch.name}}</td>
                        <td >{{c.p.branch}}</td>
                        <td>{{c.p.user.email}}</td>
                        <td>{{c.p.mobile}}</td>
                        <td>{{c.p.alternate_mobile}}</td>
                        <td>{{c.p.be_marks}}</td>
                        <td>{{c.p.cgpa_drop}}</td>
                        <td>{{c.p.sem1}}</td>
                        <td>{{c.p.sem2}}</td>
                        <td>{{c.p.sem3}}</td>
                        <td>{{c.p.sem4}}</td>
                        <td>{{c.p.sem5}}</td>
                        <td>{{c.p.sem6}}</td>
                        <td>{{c.p.backlogs}}</td>
                        <td>{{c.p.marks_12}}</td>
                        <td>{{c.p.passing_year_12}}</td>
                        <td>{{c.p.marks_11}}</td>
                        <td>{{c.p.passing_year_10}}</td>
                        <td>{{c.p.intern_company}}</td>
                        <td>{{c.p.gender}}</td>
                        <td>{{c.p.category}}</td>
                        <td>{{c.p.father}}</td>
                        <td>{{c.p.father_occupation}}</td>
                        <td>{{c.p.mother}}</td>
                        <td>{{c.p.mother_occupation}}</td>
                        <td>{{c.p.address}}</td>
                        <td>{{c.p.permanent_address}}</td>
                        <td>{{c.dream}}</td>
                        <td>{{c.app}}</td>
                        <td>{{c.ap}}</td>
                        <td>{{c.a}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table></div>

</div>
                     <div class="col-md-10 col-md-offset-1">
                  
        <button id="customXLSButton" class="btn btn-lg btn-block btn-green">Download</button>

              </div>
                  


                </div>
             
            </div>
             {%endif%}
         </div>
        </div>


{%endblock%}

{%block extrascripts%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blob-polyfill/2.0.20171115/Blob.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.0.2/js/tableexport.min.js"></script>
<script>
    var tableId = 'query-table';
    var ExportButtons = document.getElementById(tableId);
    var instance = new TableExport(ExportButtons, {
        formats: ['xlsx'],
        exportButtons: false
    });
    // **** jQuery **************************
    //    $(ExportButtons).tableExport({
    //        formats: ['xls'],
    //        exportButtons: false
    //    });
    // **************************************
    var XLSX = instance.CONSTANTS.FORMAT.XLSX;
    //                                          // "id"  // format
    var exportDataXLSX = instance.getExportData()[tableId][XLSX];
    // get filesize
    var bytesXLSX = instance.getFileSize(exportDataXLSX.data, exportDataXLSX.fileExtension);
    console.log('filesize (XLSX):', bytesXLSX + 'B');
    var XLSbutton = document.getElementById('customXLSButton');
    XLSbutton.addEventListener('click', function (e) {
        //                   // data             // mime                 // name                 // extension
        instance.export2file(exportDataXLSX.data, exportDataXLSX.mimeType, exportDataXLSX.filename, exportDataXLSX.fileExtension);
    });
</script>



{%endblock%}