{%extends 'skeleton.html'%}

{%block head%}
{%include 'head.html'%}
{%include 'search_company_head.html'%} 
{%endblock%}


{%block body%}

<div class="bootstrap-iso">
         <div class="container-fluid">
          <div class="row">
           <div class="col-md-6 col-sm-6 col-xs-12">
               {%if form.errors%}
{%for field in form%}
<ul>
    {%for error in field.errors%}
    <li>{{field.name}} : {{error}}</li>
    {%endfor%}
</ul>
{%endfor%}
{%endif%}
            <form class="form-horizontal" method="post">
             <div class="form-group ">
              <label class="control-label col-sm-2" for="i_slug">
               Search For
              </label>
              <div class="col-sm-10">
               {{form.slug}}
              </div>
             </div>
                 <div class="form-group ">
              <label class="control-label col-sm-2" for="i_field_choice">
               Placement Filter
              </label>
              <div class="col-sm-10">
               {{form.field_choice}}
              </div>
             </div>
                 <div class="form-group ">
              <label class="control-label col-sm-2" for="i_field_choice">
               Batch Filter
              </label>
              <div class="col-sm-10">
               {{form.batch_choice}}
              </div>
             </div>
                {%csrf_token%}
             <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
               <button class="btn btn-default " name="submit" type="submit">
                Submit
               </button>
              </div>
             </div>
            </form>
               
                   {%if messages%}
               
{%for message in messages%}
<h3 class="title">{{message}}</h3>
{%endfor%}

{%endif%}
               
           </div>
          
             {%if clist%}
            
                <div class="col-md-10 ml-2">
                    

<div>{%autoescape off%}
            <h3 class="title">{{smsg}}</h3>{%endautoescape%}
            <table id="query-table" class="table table-bordered"  style="display: block !important; overflow-x: auto !important; white-space: nowrap !important;">
                <thead>
                    <tr>
                         <th scope="col">Name</th>
                        <th scope="col">Roll No</th>
                        <th scope="col">Batch</th>
                        <th scope="col">Branch</th>
                        <th scope="col">Company</th>
                        <th scope="col">Placement Status</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Alternate Mobile</th>
                        <th scope="col">CGPA</th>
                        <th scope="col">CGPA with drop</th>
                        <th scope="col">Sem 1</th>
                        <th scope="col">Sem 2</th>
                        <th scope="col">Sem 3</th>
                        <th scope="col">Sem 4</th>
                        <th scope="col">Sem 5</th>
                        <th scope="col">Sem 6</th>
                        <th scope="col">Backlogs</th>
                        <th scope="col">12th marks</th>
                         <th scope="col">12th passing year</th>
                         <th scope="col">10th marks</th>
                        <th scope="col">10th passing year</th>
                        <th scope="col">Company of Internship</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Category</th>
                        <th scope="col">Father's Name</th>
                         <th scope="col">Father's Occupation</th>
                         <th scope="col">Mother's Name</th>
                        <th scope="col">Mother's Occupation</th>
                        <th scope="col">Present Address</th>
                        <th scope="col">Permanent Address</th>
                    </tr>
                </thead>
                <tbody>
                    {%for c in clist%}
                    <tr>
                        <th scope="row">{{c.user.student_profile.f_name}}&nbsp;{{c.user.student_profile.l_name}}</th>
                        <td >{{c.user.username}}</td>
                         <td>{{c.user.student_profile.batch.name}}</td>
                        <td>{{c.user.student_profile.branch}}</td>
                         <td>{{c.company.name}}</td>
                        <td>{{c.placed|yesno:"Yes,No"}}</td>
                       <td>{{c.user.student_profile.user.email}}</td>
                        <td>{{c.user.student_profile.mobile}}</td>
                        <td>{{c.user.student_profile.alternate_mobile}}</td>
                        <td>{{c.user.student_profile.be_marks}}</td>
                        <td>{{c.user.student_profile.cgpa_drop}}</td>
                        <td>{{c.user.student_profile.sem1}}</td>
                        <td>{{c.user.student_profile.sem2}}</td>
                        <td>{{c.user.student_profile.sem3}}</td>
                        <td>{{c.user.student_profile.sem4}}</td>
                        <td>{{c.user.student_profile.sem5}}</td>
                        <td>{{c.user.student_profile.sem6}}</td>
                        <td>{{c.user.student_profile.backlogs}}</td>
                        <td>{{c.user.student_profile.marks_12}}</td>
                        <td>{{c.user.student_profile.passing_year_12}}</td>
                        <td>{{c.user.student_profile.marks_11}}</td>
                        <td>{{c.user.student_profile.passing_year_10}}</td>
                        <td>{{c.user.student_profile.intern_company}}</td>
                        <td>{{c.user.student_profile.gender}}</td>
                        <td>{{c.user.student_profile.category}}</td>
                        <td>{{c.user.student_profile.father}}</td>
                        <td>{{c.user.student_profile.father_occupation}}</td>
                        <td>{{c.user.student_profile.mother}}</td>
                        <td>{{c.user.student_profile.mother_occupation}}</td>
                        <td>{{c.user.student_profile.address}}</td>
                        <td>{{c.user.student_profile.permanent_address}}</td>
                       
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

</div>
                     <div class="col-md-10 col-md-offset-1">
                  
        <button id="customXLSButton" class="btn btn-lg btn-block btn-green">Download</button>

              </div>
                    <div class="col-md-10 col-md-offset-1 text-center">
                            {% if clist.has_other_pages %}
  <ul class="pagination">
    {% if clist.has_previous %}
      <li><a href="?page={{ clist.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in clist.paginator.page_range %}
      {% if clist.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if clist.has_next %}
      <li><a href="?page={{ clist.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
                    </div>


                </div>
             
            </div>
             {%endif%}
         </div>
        </div>


{%endblock%}

{%block extrascripts%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blob-polyfill/2.0.20171115/Blob.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.0.2/js/tableexport.min.js"></script>
<script>
    var tableId = 'query-table';
    var ExportButtons = document.getElementById(tableId);
    var instance = new TableExport(ExportButtons, {
        formats: ['xlsx'],
        exportButtons: false
    });
    // **** jQuery **************************
    //    $(ExportButtons).tableExport({
    //        formats: ['xls'],
    //        exportButtons: false
    //    });
    // **************************************
    var XLSX = instance.CONSTANTS.FORMAT.XLSX;
    //                                          // "id"  // format
    var exportDataXLSX = instance.getExportData()[tableId][XLSX];
    // get filesize
    var bytesXLSX = instance.getFileSize(exportDataXLSX.data, exportDataXLSX.fileExtension);
    console.log('filesize (XLSX):', bytesXLSX + 'B');
    var XLSbutton = document.getElementById('customXLSButton');
    XLSbutton.addEventListener('click', function (e) {
        //                   // data             // mime                 // name                 // extension
        instance.export2file(exportDataXLSX.data, exportDataXLSX.mimeType, exportDataXLSX.filename, exportDataXLSX.fileExtension);
    });
</script>



{%endblock%}