{% extends 'new/skeleton.html' %}

{%block body%}
<div class="container-fluid">
    <div class="row">
        {%for message in messages%}
        <div class="col-md-10 col-sm-12 mr-auto ml-auto">
        
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
       
            </div>
        {%endfor%}
        {% for obj in count_list%}
        <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{obj.h}}</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{obj.c}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        {% endfor%}
    </div>
</div>
{%endblock%}