{%extends 'mdc.html'%}
{%load static%}

{%block head%}
 <link rel="stylesheet" href="{%static 's_css/additional_style.css'%}">
{%endblock%}
{%block body%}

<div class="container container-wide" style="position:relative !important; height: 100% !important;">
        <div class="container-blur"></div>
       <div class="section">
           <div class="row">
                <div class="col s12 m6">
                  <div class="custom-color card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">Alumni</span>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <p class="brief-history">We are everywhere!</p>
                      <p class="history-data">Within a span of 25 years, NSIT has produced over 5000 engineers par excellence having expertise in their own fields. Time and again, NSITians have set a benchmark with their performance and made their presence felt.</p>
                      <p class="history-data">Alumni of NSIT are of distinctive calibre and stands out in global podium, clinching top notch positions in their selected fields of professions. NSITians have achieved their esteemed goals, recording path breaking success in the fields of engineering, finance, management and even in arts as well. The Institute recognizes the hard work, sincerity and brilliance our alumni are bestowed with and involves them in educational and research oriented activities wherever possible. Our alumni too have reciprocated graciously making instrumental contribution in various social and educational initiatives undertaken by the Institute.</p>
                      <p class="history-data">To enlist a few, following are among the top brass in the corporate world that NSIT has churned out:</p>
                        <p class="history-data"><b class="alumni-name">Manish Mittal</b> -Vice-President, American Express</p>
                        <p class="history-data"><b class="alumni-name">Swati Gupta</b> -Vice-President, Opera Solutions</p>
                        <p class="history-data"><b class="alumni-name">Atul Sikka</b> -Vice-President, Aricent</p>
                        <p class="history-data"><b class="alumni-name">Hemant Sakarwal</b> -Vice-President, TCS</p>
                        <p class="history-data"><b class="alumni-name">Devesh Bhatnagar</b> -Vice-President, Alcatel-Lucent</p>
                        <p class="history-data"><b class="alumni-name">Sudhir Kamath</b> -Vice-President, SUN Group</p>
                        <p class="history-data"><b class="alumni-name">Pradeep Kumar</b> -Vice-President, WNS</p>
                        <p class="history-data"><b class="alumni-name">Sanjeev Verma</b> -Country Head, Halliburton</p>
                        <p class="history-data"><b class="alumni-name">Chetan Uberoy</b> -Chief Technical Officer , MakeMyTrip</p>
                        <p class="history-data"><b class="alumni-name">Rajeev Kumar Arora</b> -General Manager, VSNL</p>
                        <p class="history-data"><b class="alumni-name">Abhishek Kumar</b> -Senior Manager, Angel Broking</p>
                        <p class="history-data"><b class="alumni-name">Parul Batra</b> -Business Analyst, McKinsey & Co, Los Angeles</p>
                        <p class="history-data"><b class="alumni-name">Jivesh Govil</b> -Business Analyst, World Wide Sales Commerce</p>
                        <p class="history-data"><b class="alumni-name">Varun Aggarwal</b> -Entrepreneur, Aspiring Minds</p>
                        <p class="history-data"><b class="alumni-name">Pranav Bhasin</b> -Entrepreneur, Lifeblob</p>
                    </div>
                  </div>
                </div>
              </div>
            
        </div>
    </div>

{%endblock%}