{%extends 'mdc.html'%}
{%load static%}

{%block head%}
 <link rel="stylesheet" href="{%static 's_css/additional_style.css'%}">
{%endblock%}
{%block body%}

<div class="container container-wide" style="position:relative !important; height: 100% !important;">
        <div class="container-blur"></div>
       <div class="section">
         <div class="row">
                <div class="col s12 m6">
                  <div class="custom-color card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">Faculty</span>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <p class="brief-history">Faculty and their contributions</p>
                      <p class="history-data">The faculty at NSIT is highly qualified and have made ever lasting impressions in many fields research oriented activities. Our distinguished faculty is highly committed towards delivering not only knowledge but are actively involved in a various national and international decision- making bodies, exercising their social responsibilities.</p>
                      <p class="history-data">Their commendable qualification coupled along with vast experience in teaching and research is true evidence of excellence NSIT cherishes to have. The faculty at NSIT also has to its credit many books that are part of the curriculum in many top universities. In addition many have authored and co-authored numerous research papers which have been published in International journals of repute.</p>
                      <p class="history-data">NSIT strongly reckons research and development as a practical representation of the education rendered to the students here. The Institute plays a crucial role in enhancing research and development by upholding the innovative ideas which not only lead to analysis of vast pool of knowledge but at the same time catalyses our contribution to global development. Institute's in-depth participation in field of research and can be depicted in its diverse nature of projects which are financially supported by national and international organisations and industries.</p>
                      <p class="history-data" style="font-size: 25px; font-weight: 500; color: rgb(34,40,43)"><b>Student Projects:</b></p>
                      <p class="history-data policy-rules">It is imperative for all B.E , M.Tech and PhD students to take up projects under the guidance of faculty. These include development and application oriented projects. All these projects provide students open environment required to realize and address real world issues.</p>
                      <p class="history-data" style="font-size: 25px; font-weight: 500; color: rgb(34,40,43)"><b>Publications:</b></p>
                      <p class="history-data policy-rules">Students are encouraged to publish their work in the form of papers which could be presented and/or published in national and international Conferences/Symposia and referred journals.</p>
                      <p class="history-data" style="font-size: 25px; font-weight: 500; color: rgb(34,40,43)"><b>Patents:</b></p>
                      <p class="history-data policy-rules">Students coming up with radical solutions to practical problems are encouraged to register their national and international patents.</p>
                      <br><br><br>
                      <p class="history-data" style="font-size: 25px; font-weight: 500; color: rgb(34,40,43)"><b>Major areas of Research:</b></p>
                      <p class="history-data policy-rules" style="margin-bottom:5px; padding-bottom:5px">Circuits and Systems</p>
                      <p class="history-data policy-rules" style="margin-bottom:5px; padding-bottom:5px">Bipolar and CMOS Analog Integrated circuits</p>
                      <p class="history-data policy-rules" style="margin-bottom:5px; padding-bottom:5px">Current Mode Signal Processing</p>
                      <p class="history-data policy-rules" style="margin-bottom:5px; padding-bottom:5px">Chaotic Nonlinear Dynamical Circuits</p>
                      <p class="history-data policy-rules" style="margin-bottom:5px; padding-bottom:5px">Simulation and Modeling</p>
                      <p class="history-data policy-rules" style="margin-bottom:5px; padding-bottom:5px">Digital Signal Processing</p>
                      <p class="history-data policy-rules" style="margin-bottom:5px; padding-bottom:5px">Analog and Digital Communication</p>
                      <p class="history-data policy-rules" style="margin-bottom:5px; padding-bottom:5px">Computer Communication</p>
                      <p class="history-data policy-rules" style="margin-bottom:5px; padding-bottom:5px">Electronic Switching</p>
                      <p class="history-data policy-rules" style="margin-bottom:5px; padding-bottom:5px">Welding</p>
                      <p class="history-data policy-rules" style="margin-bottom:5px; padding-bottom:5px">Non-Conventional Machining</p>
                      <p class="history-data policy-rules" style="margin-bottom:5px; padding-bottom:5px">Manufacturing Systems</p>
                      <p class="history-data policy-rules" style="margin-bottom:5px; padding-bottom:5px">Power Electronics</p>
                      <p class="history-data policy-rules" style="margin-bottom:5px; padding-bottom:5px">Process Control</p>
                      <p class="history-data policy-rules" style="margin-bottom:5px; padding-bottom:5px">Intelligent Controllers</p>
                      <p class="history-data policy-rules" style="margin-bottom:25px; padding-bottom:5px">Data Communication Methods</p>
                      <br><br><br>
                      <p class="history-data" style="font-size: 25px; font-weight: 500; color: rgb(34,40,43)"><b>Specialized centers (for research and technical support):</b></p>
                      <p class="history-data policy-rules" style="margin-bottom:5px; padding-bottom:5px">CEDT</p>
                      <p class="history-data policy-rules" style="margin-bottom:5px; padding-bottom:5px">Advanced Centre for IT</p>
                      <br><br>
                    </div>
                  </div>
                </div>
              </div>
            
        </div>
    </div>

{%endblock%}