{%extends 'mdc.html'%}
{%load static%}

{%block head%}
 <link rel="stylesheet" href="{%static 's_css/additional_style.css'%}">
{%endblock%}
{%block body%}

<div class="container container-wide" style="position:relative !important; height: 100% !important;">
        <div class="container-blur"></div>
       <div class="section">
           <div class="row">
                <div class="col s12 m6">
                  <div class="custom-color card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">Policy</span>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <p class="brief-history">Placememt Policies</p>
                      <p class="history-data">The placement policy guidelines prevailing currently are as under:</p>
                      <p class="history-data policy-rules">The students who wish to apply to a particular company/organization are required to apply by signing in on the portal before the specified deadline. No late entries are entertained under any circumstances. It is obligatory on the part of these students to attend the interviews.</p>
                      <p class="history-data policy-rules">If a student is offered a second job, he/she must give a letter of regret to the company which offered the first job and a letter of acceptance to the second.</p>
                      <p class="history-data policy-rules">After accepting a job offer, if any student decides to withdraw his/her acceptance any time during the year, he/she must inform the company concerned through the Training & Placement Office immediately.</p>
                    </div>
                  </div>
                </div>
              </div>
            
        </div>
    </div>

{%endblock%}