{%load static%}

 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
 <title>TNP Portal | NSUT</title>

<meta name="description" content="TNP Portal of NSUT">
    <meta name="keywords" content="TNP NSIT tnp nsit portal placement yash Yash kulshreshtha">
<meta property="og:url" content="https://tnp.nsutonline.in/" />
<meta property="og:site_name" content="TNP NSIT Portal" />
<meta property="article:author" content="https://www.facebook.com/yksmbkkr" />
<meta property="article:tag" content="TNP" />
<meta property="article:tag" content="NSIT" />
<meta property="article:tag" content="Portal" />
<meta property="article:tag" content="youth" />
<meta property="article:tag" content="Delhi" />
<!--This is creation of Ankit Aggarwal and Yash Kulshreshtha
    Yash Kulshreshtha https://facebook.com/yksmbkkr
    Ankit Aggarwal https://facebook.com/Ankit6899
    -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.2/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.2/aos.css.map">
    <link rel="stylesheet" href="{%static 's_css/style.css'%}">
   