{%extends 'mdc.html'%}
{%load static%}

{%block head%}
 <link rel="stylesheet" href="{%static 's_css/additional_style.css'%}">
{%endblock%}
{%block body%}

<div class="container container-wide" style="position:relative !important; height: 100% !important;">
        <div class="container-blur"></div>
       <div class="section">
          <div class="row">
                <div class="col s12 m6">
                  <div class="custom-color card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">Students</span>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <p class="brief-history" style="margin-bottom: 10px">Student life at NSIT</p>
                      <p class="history-data">The students at NSIT faced intense competition to get admitted to this institute. The competition only becomes tougher once you're in NSIT. Only the fittest survive, and NSIT prides itself in the great asset it possesses in some of the brightest future minds of the country.</p>
                      <p class="history-data">NSITians have made it their habit to leave a mark where ever they go. To boast of our academic prowess, we have students with MS/MBA admissions offers from the likes of MIT, California, Georgia Institute of Technology, Michigan, Texas i.e. the top notch institutions in the world. NSITians have also been active in shouldering the social responsibility. Be it One Laptop per Child (OLPC, MIT) or making a difference in the neighbourhood, we have left no stone unturned. The latest addition to our list of achievements is the "Best Mechanical Design among Asian Teams" tag, achieved by the ATV of Team Motorsports at Mini Baja, South Africa 07. </p>
                      <p class="history-data">But that's just a piece of the pie. Titles like BBC University Challenge, SIMAGINE Cup, Code4Bill etc. are proof enough of the all-round development NSIT offers. NSIT also boasts of internship offers from NASA and selection of students in Google Summer of Code'08. Over the past two years we have had 50 research papers from students alone and more than 150 of them from faculty, credits to research and innovative work being done at the institute. 'Hitting the bull's eye' is the way of life at NSIT.</p>
                    </div>
                  </div>
                </div>
              </div>
            
        </div>
    </div>

{%endblock%}